*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.so
*.a
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*
training/coco
backup/
darknet53.conv.74

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
